						<div class="photo-upload">
						<div class="photo-upload-row">
						<div class="photo-upload-photo photo photo-circle"
						 [style.backgroundImage]="'url('+ PhotoSRC +')'" (click) = "NgxPhotoFileInput.click()"  
						 [ngClass]="{
						 'nophoto': !PhotoSRC || PhotoSRC===null
						 }"
						 >
						  	<div class="photo-upload-input">
						   <input #NgxPhotoFileInput  type="file" 
						    class="ng-hide" 
						    (change)="fileChange(NgxPhotoFileInput)" 
						     accept ="image/*"
						   >
	
					     </div>	
						  			
						 </div>
						 </div>
						 
						 
						 
					 <div class="photo-upload-row"  *ngIf="PhotoSRC === photoURL && !photoValue">
						 <div class="photo-upload-select-btn">
						<button type="button" class="btn-photo-input btn-photo-input-secondary photo-input-margin-top photo-input-center" (click)="NgxPhotoFileInput.click()" >
							 Select Image 
						</button>
						 </div>
						 </div>
						 
						 
						 
						 <div class="photo-upload-row" *ngIf="PhotoSRC != photoURL || photoValue">
						 <div class="photo-upload-btn">
						<button type="button" class="btn-photo-input btn-photo-input-secondary photo-input-margin-top" (click)="NgxPhotoFileInput.click()" >
							Change
						</button>
						 </div>
						 <div class="photo-upload-btn">
						<button type="button" class="btn-photo-input btn-photo-input-secondary photo-input-margin-top" (click)="fileremove(NgxPhotoFileInput)"  >
							Remove
						</button>
						 </div>
						 </div>
						 
						 
						 
						 </div>
						
						 		
   					
   				