						<div class="photo-upload">
						<div class="photo-upload-row">
						<div class="photo-upload-photo photo"
						 [style.backgroundImage]="'url('+ PhotoSRC +')'" (click) = "photo.click()"  
						 [ngClass]="{
						 'nophoto': !PhotoSRC || PhotoSRC===null
						 }"
						 >
						  	<div class="photo-upload-input">
						   <input #photo  type="file" 
						    class="ng-hide" 
						    (change)="fileChange(photo)" 
						   >
	
					     </div>	
						  			
						 </div>
						 </div>
						 <div class="photo-upload-row">
						 <div class="photo-upload-btn">
						<button  class="btn-photo-input btn-photo-input-secondary photo-input-margin-top" (click)="photo.click()" >
							Browse
						</button>
						 </div>
						 <div class="photo-upload-btn">
						<button class="btn-photo-input btn-photo-input-secondary photo-input-margin-top" (click)="fileremove(photo)" [disabled]="PhotoSRC === photoURL" >
							Reset
						</button>
						 </div>
						 </div>
						 </div>
						
						 		
   					
   				